{% extends '::base.html.twig' %}

{% block body %}
<h1>Mes cours</h1>
    <br>
    <div class="row">
        <div class="jumbotron col-md-12">
            <a class="btn btn-lg btn-primary back" href="{{ path('zephyr_cours_homepage') }}" role="button">Retour</a></br></br></br>
            <h3 id="name">Qui êtes-vous ?</h3>
            <form enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <input id="search" name="id" class="form-control" placeholder="Nom, Prénom ou code cantine" style="margin-bottom: 15px">
                    <i id="spinner" class="fa fa-2x fa-spinner fa-spin" style="float: right;margin: -45px 5px 0 0;display: none"></i>
                </div>
                <div id="form" style="display: none">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Première connexion ? Ne rien remplir. Il vous sera envoyé par mail après ce formulaire.">
                    <center>
                        <button id="send" class="btn btn-primary" style="margin-top: 15px">
                            <i class="glyphicon glyphicon-ok"></i> Consulter la liste des cours où je suis inscrit
                        </button>
                    </center>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}