{% extends '::base.html.twig' %}

{% block body %}
<h1>Modifier votre mot de passe</h1>
    <br>
    <div class="row">
        <div class="jumbotron col-md-12">
            <h3 id="name">Qui êtes-vous ?</h3>
            <form enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <input id="search" name="id" class="form-control" placeholder="Nom, Prénom ou code cantine" style="margin-bottom: 15px">
                    <i id="spinner" class="fa fa-2x fa-spinner fa-spin" style="float: right;margin: -45px 5px 0 0;display: none"></i>
                </div>
                <div id="form" style="display: none">
                    <label for="password">Ancien mot de passe :</label>
                    <input type="password" id="password" name="password" class="form-control">
                    <label for="password">Nouveau mot de passe :</label>
                    <input type="password" id="newpassword" name="newpassword" class="form-control">
                    <label for="password">Confirmation :</label>
                    <input type="password" id="new2password" name="new2password" class="form-control"><br>
                    <center>
                        <button id="send" class="btn btn-primary" style="margin-top: 15px">
                            <i class="glyphicon glyphicon-ok"></i> Modifier mon mot de passe
                        </button>
                    </center>
                    <button name="submit" value="lost" id="send" class="btn btn-danger btn-xs">Mot de passe oublié</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}